#################################################
# Environment
#################################################

.env
.env.*

#################################################
# Node / Playwright (UI)
#################################################

node_modules/
playwright-report/
test-results/
blob-report/
coverage/
reports/
*.log

#################################################
# Screenshots / Videos / Traces
#################################################

**/screenshots/
**/videos/
**/traces/

#################################################
# Allure
#################################################

allure-results/
allure-report/

#################################################
# Gradle (API)
#################################################

.gradle/
build/
.kotlin

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

#################################################
# IntelliJ IDEA
#################################################

.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iml
*.ipr
*.iws
out/

#################################################
# Eclipse
#################################################

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

#################################################
# NetBeans
#################################################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#################################################
# VS Code
#################################################

.vscode/

#################################################
# macOS / Windows
#################################################

.DS_Store
Thumbs.db