.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

.env
.env.*

*.log
logs/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

playwright-report/
test-results/
blob-report/

allure-results/
allure-report/

*.tsbuildinfo

target/
*.class
*.jar
*.war
*.ear

surefire-reports/
failsafe-reports/

*.tmp
*.temp

screenshots/
videos/

coverage/

security/zap/reports/
zap-report.html
zap-report.json

perf/k6/results/
baseline-summary.json

artifacts/
