<configuration>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>

    </appender>

    <logger name="com.apitesting" level="INFO" additivity="">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.testcontainers" level="OFF"/>
    <logger name="com.github.dockerjava" level="OFF"/>
    <logger name="org.flywaydb" level="OFF"/>
    <root level="OFF"/>

</configuration>